@model CrudSurya1.Models.RegForm

@if (ViewBag.id ==null)
{
    <h1>Registration Form</h1>
}
else
{
    <h1>Update Form</h1>
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @Html.HiddenFor(i => i.id);
    <label>Name</label>
    @Html.TextBoxFor(m => m.name, new { @class = "form-control", @required = "required", @placeholder = "Enter name.." })

    <label>Email</label>
    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @required = "required", @placeholder = "Enter Email.." })

    <label>Mobile</label>
    @Html.TextBoxFor(m => m.mobile, new { @class = "form-control", @required = "required", @placeholder = "Enter Mobil.." })
    <br />
    <button type="submit" class="btn btn-success">Register</button>
}